.Search {
  pointer-events: none;
  float: right;
}
.Search input {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 37px;
  width: 20vw;
  background: transparent;
  color: #ffffff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border: 2px solid rgba(245, 245, 241, 0.1);
  outline: none;
  border-radius: 37px;
  padding: 0 10px;
  pointer-events: all;
  -webkit-transition: border 0.25s ease, width 0.125s ease 0.125s;
  transition: border 0.25s ease, width 0.125s ease 0.125s;
}
.Search input:focus {
  border: 2px solid #e50914;
  width: 25vw;
}

.SearchResults {
  position: relative;
  top: 50px;
  max-width: 70vw;
  z-index: 99;
}
.SearchResults .TitleList {
  padding: 3rem 2rem;
  background-color: #1a1a1a69;
  backdrop-filter: blur(10px);
  border-radius: 1rem;
}

.SearchResults .TitleList .titles-wrapper {
  max-width: 50vw;
}

.TitleList {
  padding: 20px 40px;
  box-sizing: border-box;
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
  opacity: 0;
  position: relative;
  z-index: 4;
}
.TitleList .titles-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px 0;
  width: calc(100vw - 80px);
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.TitleList[data-loaded='true'] {
  opacity: 1;
  display: '';
}

.TitleList[data-loaded='false'] {
  display: none;
}
