.UserProfile {
  margin-left: auto;
}

.UserProfile .User {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.UserProfile .User .image {
  border-radius: 44px;
  margin-left: 10px;
  overflow: hidden;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border: 3px solid transparent;
  -webkit-transition: border 0.125s ease;
  transition: border 0.125s ease;
}

.UserProfile .User .image img {
  width: 100%;
  display: block;
}

.UserProfile .User .image svg {
  width: 100%;
  height: 100%;
  display: block;
}

.UserProfile .User .name {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  height: 44px;
}

.UserProfile .User:hover {
  cursor: pointer;
}

.UserProfile .User:hover .image {
  border: 3px solid #e50914;
}

.UserProfile .UserProfile-menu {
  display: none;
}

.ProfilePage {
  margin: 10rem 5rem 0 5rem;
  color: #6d6d6d;
  text-align: center;

  h1 {
    color: #fff;
    font-size: 50px;
  }

  .profile-name a {
    padding: 5px 15px;
    color: #6d6d6d;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #6d6d6d;
    transition: all 300ms ease;

    &:hover {
      color: white;
      border: 1px solid white;
    }
  }

  opacity: 0;
  animation: fade-in 300ms ease 200ms 1 forwards;

  .wrapper {
    margin: 100px 0;
    text-align: center;
  }

  .profile {
    &-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 800px;
      margin: 50px auto;
    }
    width: 150px;
    &-icon {
      width: 150px;
      height: 150px;
      border: 6px solid #1f1f1f;
      transition: all 300ms ease;
      box-sizing: content-box;
    }
    &-name {
      margin: 30px 0;
      line-height: 1.25em;
      transition: all 300ms ease;
    }
  }

  .profile:hover .profile-icon {
    border: 6px solid white;
  }

  .profile:hover .profile-name {
    color: white;
  }
}

@import "avatars";

.LogoutButton {
  padding: 5px 15px;
  color: #6d6d6d;
  font-size: 17px;
  text-decoration: none !important;
  text-transform: uppercase;
  border: 1px solid #6d6d6d;
  transition: all 300ms ease;
  &:hover {
    color: white;
    border: 1px solid white;
  }
}
